.root {
  display: flex;
  flex-direction: column;
  gap: var(--space-xl);
  align-items: flex-start;
}

.text {
  display: flex;
  flex-direction: column;
  gap: var(--space-l);
  align-items: flex-start;
}

.name {
  color: var(--color-accent);
}

.body {
  max-width: 540px;
}
